body{
    background-color: beige;
    
}


.header{
    display: flex;
    justify-content: center;
}


.buttons{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: grid;
    background-color: rgb(255, 255, 255);
    /* gap: 1px; */
    border: 1px solid black;
    
}

.wrapper > div{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}
